* {
    font-family: "Source Sans Pro", "Open Sans", Roboto, "San Francisco", Helvetica, Arial, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;
}
.my_header {
    text-align: center;
    color: white;
    background-color: rgb(51, 51, 51);
    margin-left: 0;
}

.my_header h1 {
    position: relative;
    text-align: center;
}

.ijo {
    color: rgb(108, 194, 74);
    display: inline;
}

.theme {
    background-color: rgb(108, 194, 74);
    border-radius: 2px;
    color: rgb(51, 51, 51);
    position: relative;
    bottom: 15px;
}

.input_zone {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(51, 51, 51);
}

.input_zone > h2 {
    text-align: center;
    color: rgb(108, 194, 74);
}

.input_zone > form > .input {
    margin: 8px 2px;
    padding: 8px;
    position: relative;
    right: 8px;
}

.input_zone > form > button {
    background-color: rgb(108, 194, 74);
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_zone > form > button > span {
    font-weight: bold;
}

.input_zone > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}


.input_zone > form > .input > label {
    color: rgb(108, 194, 74);
    font-weight: bold;
}

.input_zone > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_zone > form > .input_inline > label {
    color: rgb(108, 194, 74);
    font-weight: bold;
    margin-right: 10px;
}

.search_zone {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(51, 51, 51);
}

.search_zone > h2 {
    color: rgb(108, 194, 74);
    text-align: center;
    display: block;
    position: relative;
    bottom: 20px;
}

.search_zone > form > #searchBook {
    display: block;
}

.search_zone > form > .input > label {
    color: rgb(108, 194, 74);
    font-weight: bold;
    margin-right: 10px;
}

.search_zone > form > .input > input {
    width: 60%;
    padding: 8px;
    border-radius: 5px;
}
.search_zone > form > .input > button {
    padding: 8px;
    width: 120px
}

/*.book_shelf {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(51, 51, 51);
    position: relative;
    top: 10px;
    margin-top: 10px;
    color: rgb(108, 194, 74);
}
.book_item {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 20px;
    padding-bottom: 20px;
    color: rgb(51, 51, 51);
    border: 3px solid rgb(51, 51, 51);
    border-radius: 20px;
}

.book_item button {
    flex-direction: row;
    position: relative;
    left: 550px;
}*/

.book_shelf {
    margin: 16px 0 0 0;
    border: 1px solid black;
    padding: 16px;
    border-radius: 10px;
    background-color: rgb(51, 51, 51);
}

.book_shelf > h2 {
    color: rgb(108, 194, 74);
}

.book_shelf > .book_list {
    padding: 16px;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    border: 1px solid black;
    background-color: rgb(167, 223, 255);
    border-radius: 5px;
    margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3, p {
    margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
    background-color: rgb(108, 194, 74);
    color: white;
}

.book_shelf > .book_list > .book_item > .action > .yellow {
    background-color: rgb(51, 51, 51);
    color: white;
}

.book_shelf > .book_list > .book_item > .action > .red {
    background-color: rgb(194, 88, 74);
    color: white;
}

.book_shelf > .book_list > .book_item > .action > .blue {
    background-color: rgb(74, 106, 194);
    color: white;
}

.footer {
    text-align: center;
    color: rgb(108, 194, 74);
    background-color: rgb(51, 51, 51);
}
#searchSubmit {
    background-color: rgb(108, 194, 74);
    color: white;
    border-radius: 5px;
    border: 0;
}